.Nav
    // background: red
    display: flex 
    justify-content: space-between
    align-items: center
    padding: 2px 20px
    
    img 
        height: 30px
    
    i 
        color: white
        font-size: 1.2rem
    .fa-home 
        width: 160px
    p 
        cursor: default
        color: white 
        font-weight: 500
        background: grey
        padding: 10px 15px
        border-radius: 10px
        margin: 0
        i 
            margin-left: 5px