.AddCard 
    margin: 
    padding: 0 15px
    // background: 
    textarea
        box-sizing: border-box
        border-style: none
        width: 100%
        box-shadow: 0px 1px 2px #2c2c2c50
        padding: 7px
        border-radius: 5px
        height: 100%
        min-height: 80px
        font-size: 1rem
        overflow: hidden
        resize: none
        &:focus
            outline: none
    i 
        margin-right: 8px
    .btn-container
        padding: 5px 0 10px
        display: flex 
        align-items: center
        .add-btn 
            background: #5AAC44
            border-style: none 
            border-radius: 5px
            padding: 10px 15px
            color: white
            cursor: pointer

        .cancel-btn 
            font-size: 1.5rem
            margin-left: 15px
            color: #7B8799
            cursor: pointer